TELEGRAPH_BUNDLE_ID=de.schneider.evita
TELEGRAPH_SHARE_BUNDLE_ID=$(TELEGRAPH_BUNDLE_ID).share
TELEGRAPH_WATCHAPP_BUNDLE_ID=$(TELEGRAPH_BUNDLE_ID).watchkit
TELEGRAPH_WATCHEXT_BUNDLE_ID=$(TELEGRAPH_WATCHAPP_BUNDLE_ID).watchkitextension
TELEGRAPH_WIDGET_BUNDLE_ID=$(TELEGRAPH_BUNDLE_ID).widget
TELEGRAPH_INTENTS_BUNDLE_ID=$(TELEGRAPH_BUNDLE_ID).siriintents
